/vendor

/node_modules

/nbproject/private/
/front-end/nbproject/private/

/public/css/styles.css
/public/css/styles.css.map
/public/js/scripts.js
/public/js/scripts.js.map

/public/images/scores/*
!/public/images/scores/.gitkeep
.DS_Store
.idea

/storage/logs
/public/plugin/twilio/test.php
/public/new/log/*
/new/data/common/init.php
